@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
  --color-lotus-purple: #5227FF;
  --color-lotus-pink: #FF9FFC;
}

:root {
  --background: #030303;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Glass Utility */
.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.glass-hover:hover {
  background: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.1);
}